<div>
  <div>
    <h1>
      Your Contracts
    </h1>
  </div>

<button><a href="/new_contract">Add New Contract</a></button>


<!--</div>

<hr>

<div>
  <div>
    <h2>
      Add a new contract
    </h2>

    <form action="/insert_contract" method="post">
      <div>
        <label for="contract_name_box">
          Contract name
        </label>

        <input type="text" id="contract_name_box" name="query_contract_name">
      </div>

      <div>
        <label for="description_box">
          Brief Description
        </label>

        <textarea type="text" id="description_box" name="query_description"></textarea>
      </div>

      <div>
        <label for="monetary_compensation_box">
          Monetary compensation
        </label>

        <input type="text" id="monetary_compensation_box" name="query_monetary_compensation">
      </div>

      <div>
        <label for="other_compensation_box">
          Other compensation
        </label>

        <input type="text" id="other_compensation_box" name="query_other_compensation">
      </div>

      <div>
        <label for="created_by_box">
        </label>
        <input type="hidden" id="created_by_box" name="query_created_by">
      </div>

      <div>-->
<!--        <label for="token_box">
          Token
        </label>-->

        <!--<input type="text" id="token_box" name="query_token">-->
<!--      </div>

      <button>
        Create contract
      </button>
    </form>
  </div>
</div>-->
<br>
<br>

<div>
  <div>
    <table border="1">
      <tr>
       <!-- <th>
          ID
        </th>-->

        <th>
          Contract name
        </th>

        <th>
          Description
        </th>

        <th>
          Compenstation ($)
        </th>

        <th>
          Compenstation (Other)
        </th>

        <th>
          Created by
        </th>

        <!--<th>
          Token
        </th>

        <th>
          Tasks count
        </th>-->

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_contracts.each do |a_contract| %>
      <tr>
        <!--<td>-->
          <%#= a_contract.id %>
<!--        </td>-->

        <td>
          <%= a_contract.contract_name %>
        </td>

        <td>
          <%= a_contract.description %>
        </td>

        <td>
          <%= a_contract.monetary_compensation %>
        </td>

        <td>
          <%= a_contract.other_compensation %>
        </td>

        <td>
          <% matching_users = User.where ({ id: a_contract.created_by }) %>
          <% the_user = matching_users.at(0) %>
          <%= the_user.first_name %> <%= the_user.last_name %>
        </td>

    <!--    <td>-->
          <%#= a_contract.token %>
<!--        </td>-->

       <!-- <td>-->
          <%#= a_contract.tasks_count %>
<!--        </td>-->

        <td>
          <%= a_contract.created_at.strftime("%b %e, %Y") %>
        </td>
        <td>
          <%= a_contract.updated_at.strftime("%b %e, %Y") %>
        </td>

        <td>
          <a href="/contracts/<%= a_contract.id %>">
            Show Contract Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
