<div>
  <div>
    <h1>
      Your Contracts
    </h1>
  </div>

<% if current_user != nil && current_user.account_type == "Brand" %>
<button><a href="/new_contract">Add New Contract</a></button>
<br>
<% elsif current_user != nil && current_user.account_type == "Athlete" %>
<% else %>
<h2>Please <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a> to view and add contracts.</h2>
<% end %>

<br>

<% if current_user != nil %>

<div>
  <div>
    <table border="1">
      <tr>
       <!-- <th>
          ID
        </th>-->

        <th>
          Contract name
        </th>

        <th>
          Description
        </th>

        <th>
          Status
        </th>

        <th>
          Compenstation ($)
        </th>

        <th>
          Compenstation (Other)
        </th>

        <th>
          Created by
        </th>

        <!--<th>
          Token
        </th>

        <th>
          Tasks count
        </th>-->

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

        
      <% @user_contracts.each do |a_contract| %>
      <tr>
        <!--<td>-->
          <%#= a_contract.id %>
<!--        </td>-->

        <td>
        <a href="/contracts/<%= a_contract.id %>">
          <%= a_contract.contract_name %>
        </a>
        </td>

        <td>
          <%= a_contract.description %>
        </td>

        <td>
          <%= a_contract.status %>
        </td>

        <td>
          <%= "$%.2f" % a_contract.monetary_compensation %>
        </td>

        <td>
          <%= a_contract.other_compensation %>
        </td>

        <td>
          <% matching_users = User.where ({ id: a_contract.created_by }) %>
          <% the_user = matching_users.at(0) %>
          <%= the_user.first_name %> <%= the_user.last_name %>
        </td>

    <!--    <td>-->
          <%#= a_contract.token %>
<!--        </td>-->

       <!-- <td>-->
          <%#= a_contract.tasks_count %>
<!--        </td>-->

        <td>
          <%= a_contract.created_at.strftime("%b %e, %Y") %>
        </td>
        <td>
          <%= a_contract.updated_at.strftime("%b %e, %Y") %>
        </td>

        <!--<td>
          <a href="/contracts/<%#= a_contract.id %>">
            Show Contract Details
          </a>
        </td>-->
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>
<% end %>
