<div>
  <div>
    <h1>
    Contract: <%= @the_contract.contract_name%>
    </h1>
    <h3>Details and Tasks</h3>

    <div>
      <div>
        <a href="/contracts">
          Go Back
        </a>
      </div>
<br>
      <div>
        <a href="/edit_contract/<%= @the_contract.id %>">
          Edit Contract
        </a>
      </div>

      <div>
        <a href="/delete_contract/<%= @the_contract.id %>">
          Delete Contract
        </a>
      </div>
    </div>

<br>

    <div>
  <form
    action="/modify_contract_status/<%= @the_contract.id %>"
    method="post"
  >
    <label for="status_box">
      Contract Status
    </label>

    <select
      id="status_box"
      name="query_status"
      onchange="this.form.submit()"
    >
      <% ["Pending", "Active", "Complete", "Cancelled"].each do |st| %>
        <option
          value="<%= st %>"
          <%= "selected" if @the_contract.status == st %>
        >
          <%= st %>
        </option>
      <% end %>
    </select>
  </form>
</div>


    <dl>
      <!--<dt>
        Contract name
      </dt>
      <dd>
        <%#= @the_contract.contract_name %>-->
<!--      </dd>
-->
      <dt>
        Contract Description: <%= @the_contract.description %>
      </dt>

      <dt>
        Monetary compensation: <%= "$%.2f" % @the_contract.monetary_compensation %>
      </dt>

      <dt>
        Other compensation: <%= @the_contract.other_compensation %>
      </dt>

      <dt>
          <% matching_users = User.where ({ id: @the_contract.created_by }) %>
          <% the_user = matching_users.at(0) %>
        Created by: <%= the_user.first_name %> <%= the_user.last_name %>
      </dt>

      <!--dt>
        Token
      </dt>
      <dd>
        <%#= @the_contract.token %>-->
<!--      </dd>-->

      <!--<dt>
        Tasks count
      </dt>
      <dd>
        <%#= @the_contract.tasks_count %>-->
<!--      </dd>-->

      <dt>
        Created: <%= @the_contract.created_at.strftime("%b %e, %Y") %>
      </dt>

      <dt>
        Updated: <%= @the_contract.updated_at.strftime("%b %e, %Y") %>
      </dt>
    </dl>
  </div>
</div>

<!--MATCHING -->
  <%# matching_parties = Party.where ({ contract_id: @the_contract.id }) %>
  <%# the_party = matching_parties.at(0) %>
  <%# matching_athletes = User.where ({ id: the_party.party_id }) %>
  <%# the_athlete = matching_athletes.at(0) %>


<% if @athlete_user == nil %>
<h2>Invite your collaborator</h2>
 <p>
   Share this link:
   <a href="<%= "#{request.base_url}/join/#{@the_contract.token}" %>">
     <%= "#{request.base_url}/join/#{@the_contract.token}" %>
   </a>
 </p>
 <% else %>
  <h2>
    Athlete: <%= @athlete_user.first_name %> <%= @athlete_user.last_name %> | <%= @athlete_user.organization %>
  </h2>
 <% end %>

<hr>

<!--<div>
  <div>
    <h2>
      Edit contract
    </h2>

    <form action="/modify_contract/<%#= @the_contract.id %>"  method="post" >
      <div>
        <label for="contract_name_box">
          Contract name
        </label>

        <input type="text" id="contract_name_box" name="query_contract_name" value="<%#= @the_contract.contract_name %>">
      </div>

      <label for="contract_description_box">
          Brief Description
        </label>

        <input type="text" id="contract_description_box" name="query_description" value="<%#= @the_contract.description %>">
      </div>

      <div>
        <label for="monetary_compensation_box">
          Monetary compensation
        </label>

        <input type="text" id="monetary_compensation_box" name="query_monetary_compensation" value="<%#= @the_contract.monetary_compensation %>">
      </div>

      <div>
        <label for="other_compensation_box">
          Other compensation
        </label>

        <input type="text" id="other_compensation_box" name="query_other_compensation" value="<%#= @the_contract.other_compensation %>">
      </div>

      <div>
        <label for="created_by_box">
        </label>

        <input type="hidden" id="created_by_box" name="query_created_by" value="<%#= @the_contract.created_by %>">
      </div>

      <div>
        <label for="token_box">
        </label>

        <input type="hidden" id="token_box" name="query_token" value="<%#= @the_contract.token %>">
      </div>

      <div>
        <label for="tasks_count_box">
          Tasks count
        </label>

        <input type="text" id="tasks_count_box" name="query_tasks_count" value="<%##= @the_contract.tasks_count %>">
      </div>

      <button>
        Update contract
      </button>
    </form>
  </div>
</div>-->

<%  if current_user.account_type == "Brand" %>

<div>
  <div>
    <h2>
      Add a new task
    </h2>

    <form action="/insert_task" method="post">
      <div>
        <input type="hidden" id="contract_id_box" name="query_contract_id" value="<%= @the_contract.id %>">
      </div>

      <div>
        <label for="task_name_box">
          Task name
        </label>

        <input type="text" id="task_name_box" name="query_task_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="2"></textarea>
      </div>

      <div>
        <input type="hidden" id="created_by_box" name="query_created_by">
      </div>

      <div>
        <label for="deadline_box">
          Deadline
        </label>

        <input type="date" id="deadline_box" name="query_deadline">
      </div>

      <div>
        <input type="hidden" id="completion_status_box" name="query_completion_status" value="1">
      </div>

      <div>
        <input type="hidden" id="completed_on_box" name="query_completed_on">
      </div>

    <% if @athlete_user == nil %>
    <% else %>
    <div>
      <label for= "assigned_to_box"> Assigned To </label>

      <select
       id="assigned_to_box"
       name="query_assigned_to">
      <option value="<%= @brand_user.id %>">
         <%= "#{@brand_user.first_name} #{@brand_user.last_name} (Brand)" %>
      </option>
      <option value="<%= @athlete_user.id %>">
         <%= "#{@athlete_user.first_name} #{@athlete_user.last_name} (Athlete)" %>
      </option>
     </select>
     <% end %>
    </div>

      <button>
        Create task
      </button>
    </form>
  </div>
</div>
<% else %>
<% end %>

<h2>Pending Tasks</h2>

<table border="1">
   <tr>
     <th>Task</th>
     <th>Description</th>
     <th>Assigned To</th>
     <th>Deadline</th>
     <th>Status</th>
    <% if current_user.account_type == "Brand"%>
     <th>Action</th>
    <% else %>
    <% end %>
   </tr>

   <% @pending_tasks.each do |a_task| %>
     <tr>
       <td><%= a_task.task_name %></td>
       <td><%= a_task.description %></td>
       <td>
        <% matching_users = User.where ({ id: a_task.assigned_to }) %>
        <% the_user = matching_users.at(0) %>
        <%= the_user.first_name %> <%= the_user.last_name %>
       </td>
       <td><%= a_task.deadline.strftime("%b %e, %Y") %></td>
       <td>
         <form action="/toggle_task_status/<%= a_task.id %>" method="post">
           <input
             type="checkbox"
             name="completion_status"
             value="true"
             <% if a_task.completion_status %>checked<% end %>
             onchange="this.form.submit();"
           >
         </form>
       </td>
       <% if current_user.account_type == "Brand"%>
          <td><a href="/tasks/<%= a_task.id %>">Edit Task</a></td>
       <% else %>
       <% end %>
       </td>
   <% end %>
   </tr>
 </table>

<h2>Completed Tasks</h2>

<table border="1">
   <tr>
     <th>Task</th>
     <th>Description</th>
     <th>Assigned To</th>
     <th>Deadline</th>
     <th>Status</th>
     <% if current_user.account_type == "Brand"%>
     <th>Action</th>
     <% else %>
     <% end %>
   </tr>

   <% @completed_tasks.each do |a_task| %>
     <tr>
       <td><%= a_task.task_name %></td>
       <td><%= a_task.description %></td>
       <td>
        <% matching_users = User.where ({ id: a_task.assigned_to }) %>
        <% the_user = matching_users.at(0) %>
        <%= the_user.first_name %> <%= the_user.last_name %>
       </td>
       <td><%= a_task.deadline.strftime("%b %e, %Y") %></td>
       <td>
         <form action="/toggle_task_status/<%= a_task.id %>" method="post">
           <input
             type="checkbox"
             name="completion_status"
             value="true"
             <% if a_task.completion_status %>checked<% end %>
             onchange="this.form.submit();"
           >
         </form>
       </td>
  
     </td>
       <% if current_user.account_type == "Brand"%>
          <td><a href="/tasks/<%= a_task.id %>">Edit Task</a></td>
       <% else %>
       <% end %>
       </td>
      </tr>
   <% end %>
 </table>
