<div>
  <div>
    <h1>
      Your Tasks
    </h1>
  </div>
</div>

<hr>

<% if current_user != nil %>
<!--<div>
  <div>-->
    <!--<h2>
      Add a new task
    </h2>

    <form action="/insert_task" method="post">
      <div>
        <label for="contract_id_box">
          Contract
        </label>

        <input type="text" id="contract_id_box" name="query_contract_id">
      </div>

      <div>
        <label for="task_name_box">
          Task name
        </label>

        <input type="text" id="task_name_box" name="query_task_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="created_by_box">
          Created by
        </label>

        <input type="text" id="created_by_box" name="query_created_by">
      </div>

      <div>
        <label for="deadline_box">
          Deadline
        </label>

        <input type="date" id="deadline_box" name="query_deadline">
      </div>

      <div>
        <input type="checkbox" id="completion_status_box" name="query_completion_status" value="1">

        <label for="completion_status_box">Completion status</label>
      </div>

      <div>
        <label for="completed_on_box">
          Completed on
        </label>

        <input type="date" id="completed_on_box" name="query_completed_on">
      </div>

      <div>
        <label for="assigned_to_box">
          Assigned to
        </label>

        <input type="text" id="assigned_to_box" name="query_assigned_to">
      </div>

      <button>
        Create task
      </button>
    </form>
  </div>
</div>
-->

<div>
  <div>
    <table border="1">
      <tr>
        <!--<th>
          ID
        </th>-->

        <th>
          Contract
        </th>

        <th>
          Task name
        </th>

        <th>
          Description
        </th>

        <th>
          Created by
        </th>

        <th>
          Deadline
        </th>

        <th>
          Completed?
        </th>

        <th>
          Completed on
        </th>

        <th>
          Assigned to
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      <% @user_tasks.each do |a_task| %>
      <tr>
        <!--<td>-->
          <%#= a_task.id %>
<!--        </td>-->

        <td>
          <% matching_contracts = Contract.where ({ id: a_task.contract_id }) %>
          <% the_contract = matching_contracts.at(0) %>
          <a href="/contracts/<%= the_contract.id %>"><%= the_contract.contract_name %></a>
        </td>

        <td>
          <%= a_task.task_name %>
        </td>

        <td>
          <%= a_task.description %>
        </td>

        <td>
          <% matching_users = User.where ({ id: a_task.created_by }) %>
          <% the_user = matching_users.at(0) %>
          <%= the_user.first_name %> <%= the_user.last_name %>
        </td>

        <td>
          <%= a_task.deadline.strftime("%b %e, %Y") %>
        </td>

        <td>
         <form action="/toggle_task_status/<%= a_task.id %>" method="post">
           <input
             type="checkbox"
             name="completion_status"
             value="true"
             <% if a_task.completion_status %>checked<% end %>
             onchange="this.form.submit();"
           >
         </form>
       </td>

        <td>
          <%= a_task.completed_on %>
        </td>

        <td>
          <% matching_users = User.where ({ id: a_task.assigned_to }) %>
          <% the_user = matching_users.at(0) %>
          <%= the_user.first_name %> <%= the_user.last_name %>
        </td>

        <td>
          <%= a_task.created_at.strftime("%b %e, %Y") %>
        </td>
        <td>
          <%= a_task.updated_at.strftime("%b %e, %Y") %>
        </td>

        <!--<td>
          <a href="/tasks/<%#= a_task.id %>">
            Show details
          </a>
        </td>-->
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>
<h2>Please <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a> to view and add tasks.</h2>
<% end %>
